In [ ]:
#install sqlalchemy and psycopg2

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi_homework')

In [3]:
engine.connect()
print("Connection established!")

Connection established!

In [4]:
query = """
select 1 as number;
"""

pd.read_sql(query, con = engine)

   number
0       1

In [5]:
#The following is the equivalent of `\\dt` in pgcli. Only, we're using sqlalchemy"
query = """
select *
from pg_catalog.pg_tables
where schemaname != 'pg_catalog' 
and schemaname != 'information_schema';
"""

pd.read_sql(query, con = engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [8]:
df = pd.read_csv('/workspaces/2025_data_engineering_zoomcamp/week_1_basics_and_setup/2_Docker_sql/homework/green_tripdata_2019-10.csv.gz', compression='gzip')

/tmp/ipykernel_6567/2897586535.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/workspaces/2025_data_engineering_zoomcamp/week_1_basics_and_setup/2_Docker_sql/homework/green_tripdata_2019-10.csv.gz', compression='gzip')

In [23]:
print(len(df))

76386

In [11]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [12]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data', con= engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [6]:
df = pd.read_csv('/workspaces/2025_data_engineering_zoomcamp/week_1_basics_and_setup/2_Docker_sql/yellow_tripdata_2021-01.csv', low_memory=False)

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [9]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con= engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [14]:
#df is now not a dataframe, it's an iterator. We have to use this method as we can't add 1300000 rows to db all at once
df_iter = pd.read_csv('/workspaces/2025_data_engineering_zoomcamp/week_1_basics_and_setup/2_Docker_sql/homework/green_tripdata_2019-10.csv.gz', iterator = True, chunksize=100000, compression='gzip')

In [15]:
#see file type?
df_iter

In [16]:
#to make it a df. This will only return one iteration for now though. See len(df)
df = next(df_iter)
len(df)

100000

In [23]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [17]:
#we will now use the schema-creation code to create oour table. First we will just create column names df.head(n=0)
df.head(0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [18]:
#note minor differences in creation of column names and inserting data to the table (chunks- update)
df.head(0).to_sql(name= 'green_taxi_data', con = engine, if_exists = 'replace')

0

In [19]:
query = """
select *
from pg_catalog.pg_tables
where schemaname != 'pg_catalog' 
and schemaname != 'information_schema';
"""

pd.read_sql(query, con = engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,green_taxi_data,root,None,True,False,False,False

In [12]:
query = """
select * from green_taxi_data;
"""

pd.read_sql(query, con = engine)

Empty DataFrame
Columns: [index, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [20]:
#now we will update our table with information in the chunks. Removing df.head(0) - note `append`
%time df.to_sql(name= 'green_taxi_data', con = engine, if_exists = 'append')

CPU times: user 5.96 s, sys: 82.9 ms, total: 6.04 s
Wall time: 9.01 s

1000

In [21]:
query = """
select count(*) from green_taxi_data;
"""

pd.read_sql(query, con = engine)

    count
0  100000

In [22]:
#appended one chunk of 100000. now we need to do it iteratively. 


while True:
    try:
        t_start = time()

        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name= 'green_taxi_data', con = engine, if_exists = 'append') #adds data to the table as chunks because inside while loop

        t_end = time()

        duration = t_end - t_start

        print('inserted another chunk... this chunk took %.3f seconds' % (duration))
    
    except StopIteration:
        print('finished inserting all chunks.')
        break

inserted another chunk... this chunk took 9.876 seconds
inserted another chunk... this chunk took 10.181 seconds

/tmp/ipykernel_6567/1692244539.py:8: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk... this chunk took 10.052 seconds
inserted another chunk... this chunk took 7.165 seconds
finished inserting all chunks.

In [24]:
#verify that we've added all rows to our database:
query = """
select count(*) from green_taxi_data;
"""

pd.read_sql(query, con = engine)

    count
0  476386

In [ ]:
#we can also do a bit of eda
query = """
select max(tpep_pickup_datetime) as pick_up_max, min(tpep_pickup_datetime) as pickup_min, max(total_amount) as total_amount_max
from yellow_taxi_data;
"""

pd.read_sql(query, con = engine)

In [ ]:
#The following is the equivalent of `\\dt` in pgcli. Only, we're using sqlalchemy"
query = """
select * from yellow_taxi_data
limit 10
"""

pd.read_sql(query, con = engine)

In [25]:
# !wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+zone_lookup.csv
# !wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
# !wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-28 07:34:19--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response...

302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250128%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250128T073420Z&X-Amz-Expires=300&X-Amz-Signature=43aa53d63ebf1a9ceac52f125340af568aabe6e42df1c775e1f3cba0382b8560&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-28 07:34:20--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250128%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250128T073420Z&X-Amz-Expires=300&X-Amz-Signature=43aa53d63ebf1a9ceac52f125340af568aabe6e42df1c775e1f3cba0382b8560&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2025-01-28 07:34:20 (29.7 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [27]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")
df_zones.to_sql(name='green_zones', con=engine, if_exists='replace')

265

In [28]:
#The following is the equivalent of `\\dt` in pgcli. Only, we're using sqlalchemy"
query = """
select * from green_zones
limit 10
"""

pd.read_sql(query, con = engine)

   index  LocationID        Borough                     Zone service_zone
0      0           1            EWR           Newark Airport          EWR
1      1           2         Queens              Jamaica Bay    Boro Zone
2      2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3      3           4      Manhattan            Alphabet City  Yellow Zone
4      4           5  Staten Island            Arden Heights    Boro Zone
5      5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6      6           7         Queens                  Astoria    Boro Zone
7      7           8         Queens             Astoria Park    Boro Zone
8      8           9         Queens               Auburndale    Boro Zone
9      9          10         Queens             Baisley Park    Boro Zone

In [31]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data', con= engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag FLOAT(53),
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [32]:
print(pd.io.sql.get_schema(df, name = 'green_zones', con= engine))

CREATE TABLE green_zones (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag FLOAT(53),
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)